<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icedot.work.shengfang.business"
    android:versionCode="11"
    android:versionName="周四紧急修补版" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写SD卡需要2个属性 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <application
        android:name="icedot.work.application.ShengFangApplication"
        android:allowBackup="true"
        android:icon="@drawable/qst_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="icedot.work.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="icedot.work.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.AddMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.PersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.ShopInfoListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.VidioMgrActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.ShowMsgListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.SetMealActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.AlipayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.PayRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.ChosePostModeActivity"
            android:label="@string/title_activity_chose_post_mode"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.PostMessageModeBActivity"
            android:label="@string/title_activity_pust_message_mode_b"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.CustomerChoosingActivity"
            android:label="@string/title_activity_customer_choosing"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.RechargeActivity"
            android:label="@string/title_activity_recharge"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="icedot.work.activity.UsersSetmealActivity"
            android:label="@string/title_activity_users_setmeal"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>
